html {
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background: #212121;
  color: #f2f2f2;
}

.app {
  margin: 0 2rem;
  height: 100vh;
  display: flex;
}

.canvasContainer {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.controlPanel {
  border-left: 1px solid gray;
  padding: 2rem;
  flex-basis: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.controlPanel hr {
  width: 5rem;
  margin: 1rem;
}

.button {
  margin: 1rem;
  cursor: pointer;
  border: 2px solid #f2f2f2;
  font-size: 1rem;
  color: #f2f2f2;
  border-radius: 5px;
  background: #f2f2f243;
  padding: 0.5rem 1.5rem;
}

.button:hover {
  background: #f2f2f273;
}

.fpsCounter {
  position: absolute;
  top: 20px;
  left: 20px;
  padding: 1rem;
  background: #00000073;
  border-radius: 5px;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  text-align: right;
}

.hidden {
  display: none;
}

.zoomButtons {
  display: flex;
  align-items: center;
}

.ticksPerRenderSelect {
  margin: 1rem;
  cursor: pointer;
  border: 2px solid #f2f2f2;
  font-size: 1rem;
  color: #f2f2f2;
  border-radius: 5px;
  background: #f2f2f243;
  padding: 0.5rem 1.5rem;
}

/* options can't be styled using css */
/* should make a custom dropdown */
.ticksPerRenderSelect option {
  color: #212121;
}
